run = "python main.py"
entrypoint = "main.py"
modules = ["python-3.11"]

[deployment]
run = ["sh", "-c", "python main.py"]
deploymentTarget = "cloudrun"

[env]
PORT = "8000"

[nix]
channel = "stable-23_11"
packages = ["bash", "libxcrypt"]

[env]
PYTHONPATH = "${PYTHONPATH}:/home/runner/${REPL_SLUG}"

[languages]
[languages.python]
pattern = "**/*.py"
syntax = "python"

[languages.python.languageServer]
start = [ "pylsp" ]

[workflows]
runButton = "Start Server"

[[workflows.workflow]]
name = "Start Server"
author = 45862521
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"
