run = "python setup_replit.py && python run.py"
entrypoint = "main.py"

[nix]
channel = "stable-23_11"

[env]
PYTHONPATH = "${PYTHONPATH}:/home/runner/${REPL_SLUG}"

[packager]
language = "python3"

[packager.features]
packageSearch = true
guessImports = true

[languages.python]
pattern = "**/*.py"
syntax = "python"

[languages.python.languageServer]
start = [ "pylsp" ]
